.Todo-list-container {
  
  position: relative;
  margin: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 80rem;
  border: 1px solid black;
  box-shadow: 5px 10px;
  min-height: 50rem;
  background-image: linear-gradient(white,red);
  border-radius: 1rem;
}

.todo-form {
  display: flex;
  width: 100%;
  margin-top: 3rem;
  font-size: 2rem;
  gap: 1rem;
}

body {
 background-color:lawngreen;
}
.todo-form input {
  border: 1px solid black;
  font-size: 2rem;
  width: 40rem;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 1rem;
}

.todo-form button {
  border: 1px solid black;
  border-radius: 1rem;
  background-color: white;
  margin-top: 12px;
  padding: 7px;
  height: 55px;
  cursor: pointer;
  font-weight: 600;
  font-size: 2rem;
}

.todo-form button:hover {
  background-color: black;
  color: white;
  font-weight: 600;
}

.task-div {
  background-color: aliceblue;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  box-shadow: 0.5rem 0.5rem 1rem hsla(0, 0%, 0%, 0.26);
  border-radius: 1rem;
}

.todo-text {
  font-size: 2.5rem;
}

.icons {
  display: flex;
  gap: 3rem;
  font-size: 2.5rem;
  cursor: pointer;
}

.complete {
  text-decoration: line-through;
  opacity: 0.6;
  background-color: lightblue;
}

.hide {
  display: none;
}
